body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
  font-style: normal;
}
ul {
  list-style: none;
}
.button {
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.link {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: inherit;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.page-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.page-logo .second {
  color: #2e2f42;
}
.menu-link {
  font-weight: 500;
  color: #2e2f42;
}

.section-benefits__title,
.section-team__title,
.section-portfolio__title {
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #2e2f42;
}

.benefits-item__title,
.team-item__title,
.portfolio-item__title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

.benefits-item__description,
.team-item__description,
.portfolio-item__destriction {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Header */
.page-contacts {
  font-style: normal;
}
/* Section hero */
.section-hero {
  background-color: #2e2f42;
}
.section-hero__title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #fff;
}
/* Section team */
.section-team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #fff;
}
/* Section portfolio */
.portfolio-item {
  background-color: #fff;
}
/* page-footer */
.page-footer {
  background-color: #2e2f42;
}
.page-footer .page-logo .second {
  color: #f4f4fd;
}

.page-footer__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
